
@import url('https://fonts.googleapis.com/css2?family=Protest+Guerrilla&display=swap');
:root{ 

--vermelho: #F5423B;
--verde: #65F0C1;
--preto: #000000;
--amarelo:#F0ED69;

--botao-ativo: rgba(101, 152, 240, 1);
--botao-ativo: rgba(59, 245, 245, 1);
--botao-ativo: rgba(0, 0, 0, 1);
--botao-ativo: rgba(240, 237, 105, 1);
--botao-inativo: rgba(101, 152, 240, 0.5);
--botao-inativo: rgba(59, 245, 245, 0.5);
--botao-inativo: rgba(0, 0, 0, 0.5);
--botao-inativo: rgba(240, 237, 105, 0.5);

}
body{
    background-color: var(--verde);
    color: var(--vermelho);
    font-family: 'Chakra Pech', "guitarra de protesto";
}
.conteudo-principal{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}
.titulo-principal{
    text-align: left;
    width: 100%;
    font-size: 32px;
}
.titulo-principal span{
    color: var(--preto);
}
.botao{
    font-family: "Chakra Peth" sans-serif;
    background-color: var(--branco);
    color: var(--branco);
    display: flex;
    justify-content: center;
    padding: 1em;
    font-size: 18px;
    align-items: center;
    width: 100%;
    border-bottom: 4px solid var(--botao --botao-ativo);
    border-left: 2px solid var(--botao-ativo);
    border-right: 2px solid var(--botao-ativo);
    border-top: none;
}
.botao:first-child{
    border-radius: 40px 40px 0 0 ;
}
.botao{
    display: block;
}inativo
.ativo{
    background-color: var(--botao-ativo);
    border-bottom: 4px solid var(--verde);
}
@media screen and (min-width: 768px){
    .botoes {display: flex;
    }
    .botao:first-child{
        border-radius: 40px 0 0 0;
    }
.botao:last-child{
    border-radius: 0 40px 0 0 ;
}

}